/* General Page Styling */
.products-page {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  font-family: Arial, sans-serif;
  color: black;
  margin-bottom: 100px;
}

.products-page .page-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Actions Section */
.products-page .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
}

.products-page .filter-button,
.products-page .sort-dropdown {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.6);
  color: var(--neutral-black);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.products-page .sort-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23202124' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 6.646a.5.5 0 0 1 .708 0L8 9.293l2.646-2.647a.5.5 0 0 1 .708.708L8.354 10.354a.5.5 0 0 1-.708 0L4.646 7.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  padding-right: 3rem;
}

/* Products Grid */
.products-page .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.products-page .no-products {
  text-align: center;
  font-size: 16px;
  color: #999;
  grid-column: span 3;
}

/* Breadcrumb Navigation */
.products-page .breadcrumb {
  margin-bottom: 2rem;
  font-size: var(--font-size-base);
  color: black;
}

.products-page .breadcrumb a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.products-page .breadcrumb a:hover {
  color: var(--primary-dark);
}

.products-page .breadcrumb span {
  color: var(--neutral-dark-gray);
}



