/* LandingPageVideo.css */

.lp-video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 72px); 
    overflow: hidden;
    top: 0;
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
}

.lp-video-background {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: auto; 
    min-height: 100%; 
    object-fit: cover;  
    filter: brightness(50%); 
}

.lp-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none; 
    z-index: 1; 
    padding-bottom: 5%; 
}

.lp-tagline {
    position: absolute;
    top: 130px;
    left: 100px;
    color: white;
    text-align: left;
    /* text-shadow: 0 4px 12px rgba(0,0,0,0.45); */
    text-transform: uppercase;
}

.lp-tagline-main {
    font-size: 3rem;    
    font-weight: 700;
    line-height: 1.15;
}

.lp-tagline-sub {
    padding-top: 50px;
    font-size: 1.75rem;
    margin-top: 12px;
    font-weight: 400;
    opacity: 0.9;
    /* max-width: 40%; */
}


.lp-shop-now-btn {
    pointer-events: auto; 
    background: transparent; 
    border: 2px solid rgba(255, 255, 255, 0.8); 
    color: #ffffff; 
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0; 
    cursor: pointer;
    transition: all 0.3s ease; 
    border-radius: 4px;
    letter-spacing: 2px;
}

/* Hover Effect */
.lp-shop-now-btn:hover {
    background: rgba(255, 255, 255, 0.8); 
    color: #000; 
}
